[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
numpy = "*"
requests = "*"
bs4 = "*"
openpyxl = "*"
lxml = "*"
html5lib = "*"
xlrd = "*"
jupyterlab = "*"
altair = "*"
jenkspy = "*"
importlib-metadata = "*"
vega-datasets = "*"
rtree = "*"
ipympl = "*"
cython = "*"
black = {extras = ["jupyter"], version = "*"}
jupyter-black = "*"
tqdm = "*"
pyarrow = "*"
us = "*"
osmnx = "*"
usaddress = "*"

[dev-packages]

[requires]
python_version = "3.10"
